html {
    background-color: cadetblue;
}
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
    color: black;
    border-top: 10px solid black;
}
h1 {
    color: ghostwhite   ;
}
h2 {
    color: black;
}
p {
    color: black;
}
#blog {
    border-top: 2px dotted black;
}

.blog-post{
    border-bottom: 2px dotted black;
}

table {
    color: darkorchid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: 1px solid black;
}

#contact {
    border-top: 1px dotted black;
}
.img{
    margin-top:50px;
    margin-left:50px;;
}